src/main/webapp/ui-libs
src/main/webapp/ui-libs-demo
src/main/webapp/uploads
src/main/webapp/bc
src/main/webapp/bc-test
src/main/webapp/bc-framework
src/main/webapp/bc-business
src/main/webapp/bc-business-workflow
src/main/webapp/bc-workflow
.metadata
.settings
.classpath
.project
target
Thumbs.db
*.log
*.log.*
build
bin
temp
update-*.bat
.DS_Store
.idea
*.iml
